@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  overflow: hidden; 
}

/* Sabit Sidebar */
.sidebar {
  width: 30%;
  background-color: #993399;
  color: white;
  padding: 40px;
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

/* İçerik */
.content {
  margin-left: 30%; 
  width: 70%;
  background-color: #d6cdea;
  padding: 40px;
  height: 100vh;
  overflow-y: auto;
}
